/* Mobile and Tablets */
@media (max-width: 992px) {
    .menu {
        display: block !important;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 320px;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        background-color: var(--black-color);
        padding: 44px 32px 20px;
        z-index: 999;
        transition: all linear 0.2s;
    }

    .menu.active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .menu__button {
        width: 35px;
        height: 35px;
        margin-left: -12px;
        transition: all linear 0.2s;
    }

    .menu__button:hover {
        background-color: #333333;
    }

    .menu__button > i {
        font-size: 20px;
    }

    .menu > .menu__item.has-badge::before {
        top: 50%;
        transform: translateY(-50%);
        min-width: 40px;
        text-align: center;
    }

    .menu > .menu__item.has-badge::after {
        display: none;
    }

    .menu > .menu__item > .menu__link {
        display: inline-block;
    }

    .sub-menu {
        left: 0;
        width: 100%;
    }

    .floating__wrapper {
        right: 30px;
        bottom: 30px;
    }
}

/*  Mobile */
@media (max-width: 576px) {
    .top-nav__wrapper {
        padding-top: 0;
    }

    .slideshow .content {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-submit {
        padding-left: 8px;
        padding-right: 8px;
    }

    .slideshow .content .heading {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .slideshow .content .heading::after {
        bottom: -8px;
    }

    .shop-now-btn {
        margin-top: 12px;
    }

    .slideshow .swiper-button {
        width: 40px;
        height: 40px;
    }

    .slideshow .swiper-button::after {
        font-size: 20px;
    }

    .slideshow .swiper-button-next {
        right: 12px;
    }

    .slideshow .swiper-button-prev {
        left: 12px;
    }

    .slideshow .content-middle .heading {
        font-size: 100px;
        margin: 20px 0;
    }

    .slideshow .content-middle .heading::before {
        height: 50px;
        left: -15px;
    }

    .slideshow .content-middle .sub-heading {
        margin-bottom: 0;
    }

    .slideshow .swiper-wrapper {
        height: 300px !important;
    }

    .slideshow .swiper-wrapper .swiper-slide {
        height: 300px;
    }

    .slideshow .swiper-wrapper .swiper-slide img {
        height: 100%;
        object-fit: cover;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 576px) {
    .slideshow .swiper-button-next {
        right: 50px;
    }

    .slideshow .swiper-button-prev {
        left: 50px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1194px;
        max-width: 100%;
    }
}
